@mixin clip-text($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  html, body {
    margin: 0;
    padding: 0;
  }

  #outer_container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-image: url('../assets/bg.jpg');
  
    #header {
      height: 65px;
      width: 100%;
      background-color: white;
      position: fixed;
      top: 0;
      z-index: 1;

      #header_logo {
        width: 150px;
      }

      #header_bg {
        display:none;
      }
    }
  
    #navigation_bar {
      position: fixed;
      top: 65px;
      z-index: 1;
      background-color: #3A3A3C;
      width: 100%;
      line-height: 2.6;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3A3A3C;
        text-align: center;
  
        li {
          float: left;
          width: 25%;      
  
          span {
            display: block;
            color: #818285;
            height: 45px;
            font-size: 1em;
            font-family: 'Oswald';
            border: 1px solid #818285;
            cursor: pointer;
          }
        }
      } 
    }
  
    #page_container {
      padding-top: 110px;
      padding-bottom: 10px;
  
      .double_post_container {
        .post_container {
          position: relative;
          margin: 10px auto;
          width: 455px;
          min-height: 480px;
          max-height: 505px;
          background-color: white;
          overflow: hidden;
          cursor: pointer;
          opacity: 0;
          transition: opacity 0.4s ease-in;
    
          .thumbnail {
            position: relative;
            width: 410px;
            height: 250px;
            margin: 20px auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
    
          .text_container {
            margin: 0 auto;
            width: 410px;
    
            h2 {
              margin: 0;
              font-family: 'Oswald';
              color: #3A3A3C;
              @include clip-text(2);
            }
    
            ul {
              margin: 0;
              padding: 0;
              font-family: 'Lato';
              color: #88898C;
              @include clip-text(2);
    
              li {
                display: inline;
                white-space: nowrap;
              }
    
              li:after {
                content: ' \00b7 ';
              }
    
              li.nobullet:after {
                content: none;
              }
            }
      
            .post_text {
              @include clip-text(4);
              font-family: 'Lato';
              color: #3A3A3C;
              margin-bottom: 25px;
            }
          }
        }
      }
    }

    #footer {
      display: none;
    }
  }
}

@media screen and (min-width: 770px) {
  #outer_container {
    #header {
      #header_image_container {
        width: 500px;
        margin: 0 auto;

        #header_logo {
          position: relative;
          left: 175px;
        }
  
        #header_bg {
          display: block;
          position: relative;
          width: 450px;
          top: -40px;
          left: 25px;
        }
      }
    }

    #navigation_bar {
      ul {
        margin: 0 auto;
        padding-top: 10px;
        width: 208px;
        line-height: 1.5;

        li {
          display: inline;
          width: auto;

          span {
            border: none;
            height: 35px;
            margin-left: 5px;
          }

          span:after {
            content: ' \00b7 ';
          }

          span.nobullet:after {
            content: none;
          }
        }
      }
    }

    #page_container {
      .double_post_container {
        width: 700px;
        margin: 0 auto;

        .post_container {
          width: 325px;
          min-height: 416px;
          display: inline-block;
          vertical-align: top;
          margin-left: 17px;

          .thumbnail {
            width: 275px;
            height: 168px;
          }
  
          .text_container {
            width: 275px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #outer_container {
    #navigation_bar {
      span:hover {
        color: #F1592A;
      }
    }

    #page_container {
      .double_post_container {
        width: 720px;
        .post_container {
          margin-left: 12px;
          margin-right: 12px;
          border: 4px solid white;
        }

        .post_container:hover {
          border: 4px solid #F7941E;
        }
      }
    }

    #footer {
      display: block;
      height: 50px;
      width: 100%;
      background-color: #3A3A3C;
      position: fixed;
      z-index: 1;
      bottom: 0%;      
  
      #logo_container {
        position: relative;
        width: 120px;
        padding-top: 12px;
        margin: 0 auto;
        left: -5px;
        
        .logo_grey {
          margin-left: 24px;
          cursor: pointer;
        }
      }
    }
  }
}
