@mixin clip-text($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  #outer_container {
    position: relative;
    margin: 0 auto;
    width: 480px;
    background-image: url('../assets/bg.jpg');
  
    #header {
      height: 65px;
      width: 480px;
      background-color: white;
      position: fixed;
      top: 0;
      z-index: 1;

      img {
        height: 100%;
      }
    }
  
    #navigation_bar {
      position: fixed;
      top: 65px;
      z-index: 1;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3A3A3C;
        text-align: center;
  
        li {
          float: left;      
  
          span {
            display: block;
            color: #818285;
            width: 118px;
            height: 45px;
            font-size: 1em;
            font-family: 'Oswald';
            border: 1px solid #818285;
            cursor: pointer;
          }
        }
      } 
    }
  
    #page_container {
      padding-top: 110px;
      padding-bottom: 10px;
  
      .post_container {
        position: relative;
        margin: 10px auto;
        width: 455px;
        min-height: 480px;
        max-height: 505px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
  
        .thumbnail {
          position: relative;
          width: 410px;
          height: 250px;
          margin: 20px auto;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
  
        .h2_container {
          margin: 0 auto;
          width: 410px;
  
          h2 {
            margin: 0;
            font-family: 'Oswald';
            color: #3A3A3C;
            @include clip-text(2);
          }
  
          ul {
            margin: 0;
            padding: 0;
            font-family: 'Lato';
            color: #88898C;
            @include clip-text(2);
  
            li {
              display: inline;
              white-space: nowrap;
            }
  
            li:after {
              content: ' \00b7 ';
            }
  
            li.nobullet:after {
              content: none;
            }
          }
    
          .post_text {
            @include clip-text(4);
            font-family: 'Lato';
            color: #3A3A3C;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 770px) {
  #outer_container {
    width: 770px;

    #header {
      width: 770px;
    }

    #navigation_bar {
      width: 770px;
    }

    #page_container {

      .post_container {
        width: 325px;
        min-height: 400px;

        .thumbnail {
          width: 275px;
          height: 168px;
        }

        .h2_container {
          width: 275px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #outer_container {
    width: 1200px;

    #header {
      width: 1200px;
    }

    #navigation_bar {
      width: 1200px;
    }

    #footer {
      height: 50px;
      background-color: #3A3A3C;
    }
  }
}
