#outer_container {
  position: relative;
  margin: 0 auto;
  width: 480px;
  height: 2090px;
  background-image: url("../assets/bg.jpg"); }
  #outer_container #header {
    height: 65px;
    width: 100%;
    background-color: white; }
    #outer_container #header img {
      height: 100%; }
  #outer_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #494343;
    text-align: center; }
    #outer_container ul li {
      float: left; }
      #outer_container ul li span {
        display: block;
        color: white;
        width: 118px;
        height: 45px;
        font-size: 1em;
        border: 1px solid #a1a1a1;
        cursor: pointer; }
      #outer_container ul li span:hover {
        background-color: #a1a1a1; }
  #outer_container #page_container {
    height: 1980px; }
    #outer_container #page_container .post_container {
      position: relative;
      margin: 10px auto;
      width: 455px;
      height: 480px;
      background-color: white;
      overflow: hidden;
      cursor: pointer; }
      #outer_container #page_container .post_container .thumbnail {
        position: relative;
        width: 410px;
        height: 250px;
        margin: 20px auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      #outer_container #page_container .post_container .h2_container {
        margin: 0 auto;
        width: 410px; }
        #outer_container #page_container .post_container .h2_container h2 {
          margin: 0;
          font-family: 'Oswald'; }
        #outer_container #page_container .post_container .h2_container h3 {
          margin: 0;
          font-family: 'Lato'; }
        #outer_container #page_container .post_container .h2_container .post_text {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-family: 'Lato'; }
